header {
  background-color: #c00; /* Deep red */
  color: #fff; /* White text for contrast */
  padding: 10px;
  text-align: center;
}

hr{
font-size: 5em;
}

.track {
width:100%;
}

h1{
font-size: 5em;
}

h2{
font-size: 3.5em;
text-align: center;
background-color: #ff0000;
color: #fff;
}

.trackinfo{
font-size: 2.3em;
}

.bold{
font-size: 2.6em;
}

    .left-text {
      float: left;
      width:50%;
      padding: 1px;
      box-sizing: border-box;
    }

    .right-text {
      float: right;
      width: 50%;
      padding: 1px;
      box-sizing: border-box;
    }

    /* Clear floats to prevent layout issues */
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }

    .list-container {
      display: flex;
    }

.ordered-list{
margin-right:20px;
width:50%;
list-style-type: none;
padding: 0;
color: #ffffff;
font-size: 2.7em;
}

.ordered-list li{
padding: 10px;
margin: 5px 0;
background-color: #42A5F5;
border-radius: 25px;
}

.race{
font-size: 1.3em;
text-align: center;
}

.quali{
font-size: 1.3em;
text-align: center;
}

.fastestlap{
background-color: #4CAF50;
color: #f0f0f0;
}

.dotd{
background-color: #FFD700;
color: 2C3E50;
}