@font-face {
  font-family: DaggerSquare;
  src: url("fonts/podium-font.woff") format("woff"), url("fonts/podium-font.ttf") format("truetype");
}

body {
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      /*overflow: hidden; /* Hide horizontal scrollbar */
    }

    header {
  background-color: #c00; /* Deep red */
  color: #fff; /* White text for contrast */
  padding: 10px;
  text-align: center;
}

h1{
font-size:7em;
}

nav {
      background-color: #000000;
      color: #fff;
      text-align: center;
      padding: 5px;
      display: flex;
      justify-content: space-around;
font-size: 2em;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      margin: 0 5px;
      font-weight: bold;
    }

#podium-box {
  margin: 0 auto;
  display: flex;
}

.podium-number {
  font-family: DaggerSquare;
  font-weight: bold;
  font-size: 4em;
  color: white;
}

.step-container {
  flex: 1;
  display: flex;
  flex-direction: column;
font-size: 3em;
}

.step-container>div:first-child {
  margin-top: auto;
  text-align: center;
}

.step {
  text-align: center;
}

.bg-blue {
  background-color: #063b65;
}

#first-step {
  height: 75%;
color: #FFD700;
}

#second-step {
  height: 50%;
color: #B3B3B3;
}

#third-step {
  height: 35%;
color: #E6980E;
}

ol {
            
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
color: #000;
        }

        li {
            background-color: #4CAF50;
            color: #000;
            font-size: 50px;
            margin: 5px;
            padding: 15px;
            border-radius: 5px;
            width: 100%;
            text-align: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
font-size: 3em;
background-color: #4CAF50;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }