        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

header {
  background-color: #c00; /* Deep red */
  color: #fff; /* White text for contrast */
  padding: 10px;
  text-align: center;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }

    nav {
      background-color: #000000;
      color: #fff;
      text-align: center;
      padding: 10px;
      display: flex;
      justify-content: space-around;
font-size: 1em;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      margin: 0 15px;
      font-weight: bold;
    }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #ddd;
        }

table a{
  color: #fff;
  font-weight: bold;
}

.mclaren {
    background-color: #FF8000;
}

.mercedes {
    background-color:#00CCC2;
}

.ferrari{
background-color: #EF1A2D;
}

.redbull{
background-color: #00174C;
}

.alpine{
background-color: #2173B8;
}

.haas{
background-color: #E6002B;
}

.aston{
background-color: #002420;
}

.williams{
background-color: #00A0DE;
}

.rb{
background-color: #20394C;
}

.stake{
background-color: #00E701;
}

.driver{
color: #000;
font-size: 0.9em;
}