header {
  background-color: #000; /* Deep red */
  color: #fff; /* White text for contrast */
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header img{
  width: 15%;
}

h1{
  font-size: 3em;
  align-items: center;
}

h2{
  font-size: 2em;
  background-color: #000;
  color: #fff;
  text-align: center;
}

h3{
  font-size: 2.5em;
  border-bottom: 10px solid #ddd;
}

p{
  border-bottom: 5px solid #ddd;
  border-right: 5px solid #ddd;
}

hr{
  margin-bottom: 50px;
  margin-top: 20px;
}

.bold{
font-size: 3.5em;
}

.family{
font-size: 1.5em;
}

.max{
font-size: 1.4em;
}

.hulk{
font-size: 1.3em;
}

.cc{
  font-size: 6em;
}

a{
  text-decoration: none;
}

.mercedes{
  border-left: 20px solid #27F4D2;
  padding: 10px;
}

.m{
  border: 10px solid #27F4D2;
}

.ferrari{
  border-left: 20px solid #E8002D;
  padding: 10px;
}

.f{
  border: 10px solid #E8002D;
}

.redbull{
  border-left: 20px solid 	#3671C6;
  padding: 10px;
}

.rb{
  border: 10px solid #3671C6;
}

.mclaren{
  border-left: 20px solid #FF8000;
  padding: 10px
}

.mc{
  border: 10px solid #FF8000;
}

.aston{
  border-left: 20px solid #229971;
  padding: 10px;
}

.as{
  border: 10px solid #229971;
}

.alpine{
  border-left: 20px solid #FF87BC;
  padding: 10px;
}

.al{
  border: 10px solid #FF87BC;
}

.haas{
  border-left: 20px solid #B6BABD;
  padding: 10px;
}

.h{
  border: 10px solid #B6BABD;
}

.williams{
  border-left: 20px solid #64C4FF;
  padding: 10px;
}

.w{
  border: 10px solid #64C4FF;
}

.racingbull{
  border-left: 20px solid #6692FF;
  padding: 10px;
}

.rcb{
  border: 10px solid #6692FF;
}

.stake{
  border-left: 20px solid #52E252;
  padding: 10px;
}

.s{
  border: 10px solid #52E252;
}

.car{
  float: right;
  width: 30%;
}

.profile{
  float: right;
  width: 50%;
}