body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

#quiz-container {
  margin-top: 20px;
}

#question-container {
  margin-bottom: 10px;
}

#options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#result-container {
  margin-top: 20px;
  font-weight: bold;
}