body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
        }

        header {
            background-color: #00A19B;
            color: white;
            padding: 1em;
            text-align: center;
        }

        nav {
            background-color: #00CCC2;
            padding: 1em;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        section p{
            padding: 20px;
        }

h3{
padding: 10px;
}

footer{
text-align: center;
}
        /* Add additional styling as needed */

#logo h1{
  font-size:3em;
  
}

img{
  width:50%;
}

h1 span{
  color:#DDFF48;
}

span strong {
  color:#7957A0;
}

h2, #home p{
  text-align: center;
}

.imgS{
  display: flex;
  align-items: center;
}

.imgS img{
  margin-left: 2px;
  height: 130px;
}

.scroll-s {
height: 100px;
width: 250px;
overflow: auto;
text-align: center;
}

.imgM{
  display: flex;
  align-items: center;
}

.imgM img{
  margin-left: 2px;
  height:130px;
}

.scroll-m {
height: 100px;
width: 250px;
overflow: auto;
text-align: center;
}

.imgF{
  display: flex;
  align-items: center;
}

.imgF img{
  margin-left: 2px;
}

.scroll-f {
height: 100px;
width: 250px;
overflow: auto;
text-align: center;
}

.imgC{
  display: flex;
  align-items: center;
}

.imgC img{
  margin-left: 2px;
  height: 130px;
}

.scroll-c {
height: 100px;
width: 250px;
overflow: auto;
text-align: center;
}

header img{
width:80%;
}

h2 img{
width:100%;
display: block;
}

.A{
color:#FFD700;
}

.table-container {
            width: 95%;
            max-height: 700px; /* Set the desired fixed height */
            overflow-x: auto; /* Enable horizontal scrolling */
margin: 0 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%; /* Table takes 100% width of its container */
        }

thead:first-child {
background-color: #E3F2FD;
}

td:first-child {
background-color: #E3F2FD;
}

        td, th {
            border: 1px solid #ddd;
            padding: 20px;
            text-align: center;
        }

tr:nth-child(1) td:nth-child(3) {
    background-color: #CCCCCC
}

tr:nth-child(2) td:nth-child(3) {
    background-color:#00CCC2;
}